@charset "UTF-8";

/*
* Variables Set File
* Comment :
*
*/

$font-defalut : 'Noto Sans KR';
$color-defalut : #323228;
$color-font-defalut : #323228;
$color-bg-defalut : #323228;
$border-top-line-default-color : 2px solid #000;
$border-middle-line-default-color : 1px solid #ddd;

// 타 프로젝트시 제거
// LMS 프로젝트 메인 공통부분
$mbSectionPadding:60px 20px;
$pcSectionPadding:120px 0;